<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="frc.team449.bunnybots">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="frc.team449.bunnybots.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="frc.team449.bunnybots.Prematch" />
        <activity android:name="frc.team449.bunnybots.Auto" />
        <activity android:name="frc.team449.bunnybots.Teleop" />
        <activity android:name="frc.team449.bunnybots.FixErrors" />
        <activity android:name="frc.team449.bunnybots.Submit" />
        <activity android:name="frc.team449.bunnybots.Submitted" />

    </application>
</manifest>
